name: MyPipeline

on:
  push:
    branches:
      - master
env:
  GITHUB_REMOTE: https://${{ github.actor }}:${{ github.token }}@github.com/${{ github.repository }}
  GIT_NAME: ${{ github.actor }}
  GIT_EMAIL: ${{ github.actor }}@users.noreply.github.com

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: actions/hello-world-docker-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
          github-repo:  ${{ github.repository }}
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      - name: Get the Repo
        run: echo "The Repo was ${{ steps.hello.outputs.repo }}"
      - name: Get para value
        run: echo "The Para value  ${{ steps.hello.outputs.para1 }}"
      - name: Get github remote
        run: echo $GITHUB_REMOTE
      - name: Get Secret
        run: echo $secrets.username
      - name: Get Secret
        run: echo ${ secrets.username }
